/* Fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

html {
    width: 100%;
    height: 100%;
}

body {
    /* font-family: 'Pretendard Variable', sans-serif; */
    width: 100%;
    height: 100%;
    background-color: var(--darkGrey);
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    padding: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #666666;
    margin: 4px;
}
#__next {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    font-family: var(--main-font);
}

button {
    /* font-family: 'Pretendard Variable', sans-serif; */
    cursor: pointer;
    padding: 0;
}

button:disabled {
    cursor: default;
}

ul {
    margin: 0 auto;
    list-style: 'none';
}

svg {
    fill: var(--main-text-color);
}

:root {
    --main-text-color: #dbe2e6;
    --main-light-blue-background: #93b3c8;
    --main-text-on-light-blue: rgb(209, 209, 209);
    --main-top-image-bg: #1f2126;
    --main-editor-bg-color: #363a43;
    --main-editor-text-color: #e6e7e8;
    --main-editor-input-bg-color: #30333b;
    --main-editor-section-title-color: #a3a3a3;
}

:root {
    --main-font: 'Pretendard Variable', sans-serif;
    /* ----------------- */
    --gpSystemLightestGrey: #dcdedf;
    --gpSystemLighterGrey: #b8bcbf;
    --gpSystemLightGrey: #8b929a;

    --systemGrey: #67707b;
    --systemDarkGrey: #3d4450;
    --systemDarkerGrey: #23262e;
    --systemDarkestGrey: #0e141b;
    --storeLightestGrey: #ccd8e3;
    --storeLighterGrey: #a7bacc;
    --storeLightGrey: #7c8ea3;

    --White: #ffffff;
    --Grey: #4e697d;
    --darkGrey: #1b2838;
    --darkGrey-opacity: rgb(27, 40, 56, 0.8);
    --darkerGrey: #16202d;
    --darkestGrey: #000f18;

    --Gradient-PostBorderTop: linear-gradient(to right, var(--dustyBlue) 0%, var(--darkGrey) 80%);

    --Gradient-ToggleButtonBorder: linear-gradient(
        to bottom,
        var(--dustyBlue) 0%,
        var(--darkestGrey) 80%
    );

    --dustyBlue: #417a9b;

    --Gradient-Background: linear-gradient(180deg, var(--darkGrey) 0%, var(--darkerGrey) 80%);
    --gpGradient-LibraryBackground: radial-gradient(
        farthest-corner at 40px 40px,
        #3d4450 0%,
        #23262e 80%
    );
    --Red: #d94126;
    --RedHi: #ee563b;
    --Background-Neutral-LightSofter: rgba(235, 246, 255, 0.1);
    --Background-Neutral-LightSoft: rgba(235, 246, 255, 0.2);
    --Background-Neutral-LightMedium: rgba(235, 246, 255, 0.3);
    --Background-Neutral-LightHard: rgba(235, 246, 255, 0.4);
    --Background-Neutral-LightHarder: rgba(235, 246, 255, 0.5);

    /* ----------------- */

    --gpColor-Blue: #1a9fff;
    --gpColor-BlueHi: #00bbff;
    --gpColor-Green: #5ba32b;
    --gpColor-GreenHi: #59bf40;
    --gpColor-Orange: #e35e1c;
    --gpColor-LightBlue: #b3dfff;
    --gpColor-Yellow: #ffc82c;
    --gpColor-ChalkyBlue: #66c0f4;
    --gpBackground-LightSofter: #6998bb24;
    --gpBackground-LightSoft: #3b5a7280;
    --gpBackground-LightMedium: #678ba670;
    --gpBackground-LightHard: #93b8d480;
    --gpBackground-LightHarder: #aacce6a6;
    --gpBackground-DarkSofter: #0e141b33;
    --gpBackground-DarkSoft: #0e141b66;
    --gpBackground-DarkMedium: #0e141b99;
    --gpBackground-DarkHard: #0e141bcc;
    --gpCorner-Small: 1px;
    --gpCorner-Medium: 2px;
    --gpCorner-Large: 3px;
    --gpSpace-Gutter: 24px;
    --gpSpace-Gap: 12px;
    --gpNavWidth: 240px;
    --gpPaymentsNavWidth: 340px;
    --gpDselectWidth: 340px;
    --gpSidePanelWidth: 340px;
    --gpGiftingPanelWidth: 280px;
    --gpCommunityRightPanelWidth: 320px;
    --gpVerticalResponsivePadding-Small: calc((100vw - 854px) / 60);
    --gpVerticalResponsivePadding-Medium: calc((100vw - 854px) / 20);
    --gpVerticalResponsivePadding-Large: calc((100vw - 854px) / 12);
    --screen-width: 100vw;
    --gpWidth-6colcap: calc(
        (var(--screen-width) - (5 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 6
    );
    --gpWidth-5colcap: calc(
        (var(--screen-width) - (4 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 5
    );
    --gpWidth-4colcap: calc(
        (var(--screen-width) - (3 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 4
    );
    --gpWidth-3colcap: calc(
        (var(--screen-width) - (2 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 3
    );
    --gpWidth-2colcap: calc(
        (var(--screen-width) - (1 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 2
    );
    --gpWidth-1colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gutter))));
    --gpStoreMenuHeight: 58px;
    --gpShadow-Small: 0px 2px 2px 0px #0000003d;
    --gpShadow-Medium: 0px 3px 6px 0px #0000003d;
    --gpShadow-Large: 0px 12px 16px 0px #0000003d;
    --gpShadow-XLarge: 0px 24px 32px 0px #0000003d;
    --gpText-HeadingLarge: normal 700 26px/1.4 'Motiva Sans', Arial, Sans-serif;
    --gpText-HeadingMedium: normal 700 22px/1.4 'Motiva Sans', Arial, Sans-serif;
    --gpText-HeadingSmall: normal 700 18px/1.4 'Motiva Sans', Arial, Sans-serif;
    --gpText-BodyLarge: normal 400 16px/1.4 'Motiva Sans', Arial, Sans-serif;
    --gpText-BodyMedium: normal 400 14px/1.4 'Motiva Sans', Arial, Sans-serif;
    --gpText-BodySmall: normal 400 12px/1.4 'Motiva Sans', Arial, Sans-serif;
}
